body {
  margin: auto;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  background-color: #fff; 
  width: 1100px;
  height: 3028px;
  top: -1103px;
  left: 49px;
  gap: 0px;
  opacity: 0px;
}

header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  place-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 1100px;
  height: 293px;
}

h3 {
padding-top: 48px;
padding-left: 40px;
padding-right: 40px;
font-family: Raleway;
font-size: 22px;
font-weight: 700;
line-height: 26.4px;
text-align: left;
text-decoration-line: underline;
text-decoration-style: solid;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #FFFFFF;
text-transform: uppercase;
}

.header__menu {
  width: 391.48px;
  height: 22px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.header__links-list {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between; 
  width: 391.48px;
  height: 22px;
  gap: 25px; 
}

.header__links-list-item1 {
list-style: none;
width: 67px;
height: 21px;
top: 133px;
left: 50px;
font-family: Raleway;
font-size: 18px;
font-weight: 400;
line-height: 21.13px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

.header__links-list-item2 {
list-style: circle;
width: 169.48px;
height: 22px;  
top: 133px;
left: 130px;
padding-left: 5px;
}

.header__links-list-item3 {
list-style: circle;
width: 129.48px; 
height: 22px;
top: 133px;
left: 312px;
padding-left: 5px;
}

.header__logo {
  width: 148px;
  height: 105px;
  top: 92px;
  left: 478px;
  gap: 0px;
  opacity: 0px;

}

.header__logo-image {
  width: 148px;
  height: 105px;
  top: 92px;
  left: 478px;
  gap: 0px;
  opacity: 0px;
}

.adress {
  max-width: 240px;
  justify-self: end;
  width: 240px;
  height: 98px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-style: normal;
}

.cover {
  margin: auto; 
  width: 1100px;
  min-height: 757px;
  gap: 0px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: -1;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 60%;
  z-index: 0;
}

.cover-title {  
display: flex;
flex-direction: column;
  position: relative;
  z-index: 1;
width: 1000px;
height: 385px;
top: 165px;
left: 50px;
gap: 0px;
color: #FFFFFF;
z-index: 1;
}

.aligned-text {
  font-family: Raleway;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}

.aligned-text_center {
  font-family: Raleway;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}

.aligned-text_right {
  font-family: Raleway;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.cover__description {
  position: relative;
  width: 637px;
  height: 28px;
display: flex;
flex-direction: row;
position: relative;
width: 1000px;
height: 51px;
top: 241px;
left: 50px;
right: 50px;
bottom: 50px;
border: 1px solid #FFFFFF;
z-index: 1;
 }


.cover__description-text {
  
  width: 1000px;
  height: 51px;
  top: 656px;
  left: 50px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  color:#FFFFFF;
  z-index: 1;
font-family: Raleway;
font-style: normal;
font-size: 22px;
font-weight: 400;
line-height: 28px;
text-align: left;
text-decoration-skip-ink: none;
text-transform: uppercase;
}

.bet-button {
  position: relative;
width: 256px;
min-height: 51px;
  font-family: Raleway;
font-size: 22px;
font-weight: 500;
line-height: 25.83px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
text-transform: uppercase;
background: transparent;
color: #FFFFFF;
z-index: 1;
}

.lots {
  width: 1052px;
  height: 723px;
  top: 1230px;
  left: 24px;
  opacity: 0px; 
  margin: 180px 24px 120px;  
}

.lots__heading {
width: 121px;
height: 47px;
left: 40px;
gap: 0px; 
opacity: 0px;
font-family: Raleway;
font-size: 40px;
font-weight: 700;
line-height: 46.96px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #000000;

}

.lots__card-list {
  position: relative;
  list-style-type: none;
  display: flex;
  gap: 25px;
}

.lots__card-list-item {
  position: relative;
  width: 334px;
  height: 596px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  width: 334px;
  height: 596px;
  position: relative;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  width: 334px;
  height: 596px;
  position: relative;

}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  width: 334px;
  height: 596px;
  opacity: 0px;
  position: relative;

}

.card-link {
  position: relative;
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text {
font-family: Raleway;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #FFFFFF;
padding-bottom: 48px;
padding-left: 48px;
padding-right: 48px;
}

.lots__look-more-link {
position: relative;
display: block;
width: 192px;
height: 23px;
top: 30px;
left: 40px;
gap: 0px;
opacity: 0px;
font-family: Raleway;
font-size: 20px;
font-weight: 400;
line-height: 23.48px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
 /* grid-template-rows: 100%; */
  margin: auto; 
 /* padding: 120px 24px; */
  width: 1052px;
height: 595px;
top: 2073px;
left: 24px;
gap: 0px;
opacity: 0px;

}

.about__column1 {
  display: flex;
  justify-content: center;

}

.about_logo {
 display: flex;
  justify-content: center;
  align-items: center;
width: 240px;
height: 240px;
gap: 0px;
opacity: 0px;
background: #000000;
border-radius: 240px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  top: 64px;
  left: 46.48px;
  gap: 0px;
  opacity: 0px;

}

.about__column2 {
  width: 693px;
  height: 449px;
  top: 133px;
  left: 359px;
  padding: 3px 0px 0px 0px;
  gap: 0px;
  opacity: 0px;  
  

}

.about__title {
  width: 291px;
  height: 47px;
  top: 3px;
  gap: 0px;
  opacity: 0px;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 136px;
    
}

.about__text1 {
padding-top: 150px;
padding-bottom: 24px;
font-family: Raleway;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;


}

.about__text2 {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}

footer {
  
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
 /*   grid-template-columns: 1fr min-content 1fr;  */
  justify-items: center; 
  align-items: start;

  width: 1100px;
min-height: 180px;
top: 2848px;
gap: 0px;
opacity: 0px;

  margin-top: 180px; 

  
}

.adress_footer {
  width: 264.57px;
  height: 98px;
  left: 50px;

  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-style: normal;
}

.footer__menu {
  width: 163.9px;
  height: 64px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  top: 1px;
  left: 468.6px;
  gap: 0px;
  opacity: 0px;
  border: 1px 0px 0px 0px;
  

}

.footer__menu-list {
  width: 163.9px;
height: 64px;
top: 1px;
left: 468.6px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
text-align: center;
list-style: none;

}


/*
.footer__links-list-item1 {
  width: 73.7px;
  height: 21px;
  top: 1px;
  left: 513.7px;
  gap: 0px;
  opacity: 0px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  list-style: none;
}

.footer__links-list-item2 {
  width: 163.9px;
  height: 22px;
  top: 22px;
  left: 468.6px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  list-style: none;
}

.footer__links-list-item3 {
  width: 118.8px;
  height: 22px;
  top: 43px;
  left: 490.6px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  list-style: none;
}



.footer__social-link {
  width: 48px;
  height: 48px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  
}
  */

  .footer__social-list {
    display: flex;
  
    width: Fixed (240px)px;
height: Hug (48px)px;
top: 1px;
left: 810px;
gap: 48px;
opacity: 0px;


  }

.footer__social-list-item {
  width: 48px;
  height: 48px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  list-style: none;
}

.footer__social-icon1 {
  width: 26px;
  height: 20px;
  top: 14px;
  left: 11px;
  gap: 0px;
  opacity: 0px;
 
}

.footer__social-icon2 {
  width: 29.12px;
height: 18px;
top: 14.95px;
left: 105.44px;
gap: 0px;
opacity: 0px;

}

.footer__social-icon3 {
  width: 17px;
height: 22px;
top: 13px;
left: 208px;
gap: 0px;
opacity: 0px;

}




