body {
  margin: auto;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  background-color: #fff; 
  width: 1100px;
  height: 3028px;
  top: -1103px;
  left: 49px;
  gap: 0px;
  opacity: 0px;
}

header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  place-content: center;
  align-items: center;
  width: 1100px;
  height: 293px;
  gap: 0px;
  opacity: 0px;
  padding: 30px;
  margin: 10px;
}


.header__menu {

  width: 391.48px;
  height: 22px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  top: 133px;
  left: 50px;
  gap: 0px;
  opacity: 0px;
}

.header__links-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 391.48px;
  height: 22px;
  top: 133px;
  left: 50px;
  gap: 0px;
  opacity: 0px;  
}

.header__links-list-item1 {
  list-style: none;
  width: 67px;
  height: 21px;
  top: 133px;
  left: 50px;
  gap: 0px;
  opacity: 0px;
}

.header__links-list-item2 {
  list-style: circle;
  padding-left: 6px;
  width: 169.48px;
  height: 22px;
  top: 133px;
  left: 130px;
  gap: 0px;
  opacity: 0px;
}

.header__links-list-item3 {
  list-style: circle;
  padding-left: 6px;
  width: 129.48px;
  height: 22px;
  top: 133px;
  left: 312px;
  gap: 0px;
  opacity: 0px;
}

.header__logo {
  width: 148px;
  height: 105px;
  top: 92px;
  left: 478px;
  gap: 0px;
  opacity: 0px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
  top: 92px;
  left: 478px;
  gap: 0px;
  opacity: 0px;
}

.adress {
  max-width: 240px;
  justify-self: end;
  width: 240px;
  height: 98px;
  top: 95px;
  left: 810px;
  padding: 0px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}

.cover {
  margin: auto; 
  width: 1100px;
  min-height: 757px;
  gap: 0px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: -1;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 60%;
  z-index: 0;
}

.cover-title {  
display: flex;
flex-direction: column;
 position: relative;
 position: relative;
  z-index: 1;
position: relative;
  z-index: 1;
width: 1000px;
height: 385px;
top: 165px;
left: 50px;
gap: 0px;
color: #FFFFFF;
z-index: 1;
}

.aligned-text {
  font-family: Raleway;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}

.aligned-text_center {
  font-family: Raleway;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}

.aligned-text_right {
  font-family: Raleway;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.cover__description {
  position: relative;
  width: 637px;
  height: 28px;
display: flex;
flex-direction: row;
position: relative;
width: 1000px;
height: 51px;
top: 241px;
left: 50px;
right: 50px;
bottom: 50px;
border: 1px solid #FFFFFF;
z-index: 1;
 }


.cover__description-text {
  
  width: 1000px;
  height: 51px;
  top: 656px;
  left: 50px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  color:#FFFFFF;
  z-index: 1;
font-family: Raleway;
font-style: normal;
font-size: 22px;
font-weight: 400;
line-height: 28px;
text-align: left;
text-decoration-skip-ink: none;
text-transform: uppercase;
}

.bet-button {
position: relative;
width: 256px;
height: 51px;
  font-family: Raleway;
font-size: 22px;
font-weight: 500;
line-height: 25.83px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
text-transform: uppercase;
background: transparent;
color: #FFFFFF;
z-index: 1;
}

.lots {
  width: 1052px;
  height: 723px;
  top: 1230px;
  left: 24px;
  opacity: 0px; 
  margin: 180px 24px 120px;
  
}

.lots__heading {
width: 121px;
height: 47px;
left: 40px;
gap: 0px; 
opacity: 0px;
font-family: Raleway;
font-size: 40px;
font-weight: 700;
line-height: 46.96px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #000000;

}

.lots__card-list {
  position: relative;
  list-style-type: none;
  display: flex;
}

.lots__card-list-item {
  width: 334px;
  height: 596px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  width: 334px;
  height: 596px;
  opacity: 0px;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  width: 334px;
  height: 596px;
  left: 359px;
  opacity: 0px;

}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  width: 334px;
  height: 596px;
  top: 74px;
  left: 718px;
  gap: 0px;
  opacity: 0px;

}

.card-link {
  position: relative;

}

.card {
  position: relative;
  
}

.lots__look-more-link {
position: relative;
width: 192px;
height: 25px;
top: 653px;
left: 40px;
bottom: 2px;
}

.about {
  margin: auto; 
  padding: 120px 24px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
 

}

.about__logo {

}

.about__logo-image {

}

.about__title {

}

.about__text {

}

footer {
  
  
  margin: auto; 

  margin: auto; 
}








